flake8
pylint

# Remove once we rely on coverage 4.3+
#
# https://bitbucket.org/ned/coveragepy/issues/519/
coverage!=4.4,>=4.0 # Apache-2.0

stestr>=1.0.0 # Apache-2.0
testtools>=1.4.0

pytest
pytest-cov

tensorflow==2.6.4
pydot-ng
